node_modules/*
ios/Pods/
android/app/build/
android/build/
android/captures/
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
android/gradle.properties
*.iml
*.log
*.orig
*.patch
*.pyc
*.swp
*.DS_Store
*.idea/
*.expo/
.expo-shared/
*.pack
pycache/
yarn-error.log
npm-debug.log
.env